ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  /* background-color: lightblue; /* temporary guide */
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
}

nav {
  display: flex;
  padding: 6px;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
}

.nav-left a {
  display: block;
  padding-left: 15px;
  text-align: center;
  color: #000;
  opacity: 0.75;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

.nav-right a {
  display: block;
  padding-right: 15px;
  text-align: center;
  color: #000;
  opacity: 0.75;
}

li a:hover {
  text-decoration: underline;
}

#sign-in a {
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: linear-gradient(#4387fd,#4683ea)
  color: #fff;
  cursor: default;
  text-decoration: none;
}
